.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .flex-item {
    background-color: rgb(80, 120, 219);
    width: 100px;
    height: 100px;
    margin: 50px;
    text-align: center;
  }
  .flex-item:hover {
    transform: scale(1.2);
    cursor: pointer;
  }